/* --- FONT --- */
@font-face {
  font-family: 'Bageo';
  src: url('../assets/fonts/bageo/Bageo.otf') format('truetype');
}

@font-face {
  font-family: 'Arquitecta-Italic';
  src: url('../assets/fonts/arquitecta/Arquitecta-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'Arquitecta';
  src: url('../assets/fonts/arquitecta/Arquitecta.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaBlack-Italic';
  src: url('../assets/fonts/arquitecta/ArquitectaBlack-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaBlack';
  src: url('../assets/fonts/arquitecta/ArquitectaBlack.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaBold-Italic';
  src: url('../assets/fonts/arquitecta/ArquitectaBold-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaBold';
  src: url('../assets/fonts/arquitecta/ArquitectaBold.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaBook-Italic';
  src: url('../assets/fonts/arquitecta/ArquitectaBook-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaBook';
  src: url('../assets/fonts/arquitecta/ArquitectaBook.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaHeavy-Italic';
  src: url('../assets/fonts/arquitecta/ArquitectaHeavy-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaHeavy';
  src: url('../assets/fonts/arquitecta/ArquitectaHeavy.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaLight-Italic';
  src: url('../assets/fonts/arquitecta/ArquitectaLight-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaLight';
  src: url('../assets/fonts/arquitecta/ArquitectaLight.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaMedium-Italic';
  src: url('../assets/fonts/arquitecta/ArquitectaMedium-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaMedium';
  src: url('../assets/fonts/arquitecta/ArquitectaMedium.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaThin-Italic';
  src: url('../assets/fonts/arquitecta/ArquitectaThin-Italic.otf') format('truetype');
}

@font-face {
  font-family: 'ArquitectaThin';
  src: url('../assets/fonts/arquitecta/ArquitectaThin.otf') format('truetype');
}


/* --- COLORS --- */

:root {
  --white: #ffffff;
  --backgroundCustom: #f7f2ed;
  --black: #000;
	--yellowCustom: #FCC96F;
  --lightYellowCustom: #ffe1ad;
	--orangeCustom: #FEA758;
	--pinkCustom:   #B73271;
	--blueCustom:   #0097B2;
	--greyCustom:   #393938;
  --lightGreyCustom: #999999;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arquitecta';
  background-color: var(--backgroundCustom);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}


.button {
  font-size: 1.1rem;
  padding: 12px;
  font-weight: 700px;
  border-radius: 20px;
  display: inline-block;
  width: fit-content;
}

.button-primary {
    color: var(--greyCustom);
    background-color: var(--yellowCustom);
}

.button-primary:hover {
    color: var(--white);
    background-color: var(--blueCustom);
    transition: background-color 0.3s ease-in-out;
}