<main class="main">
  <section class="hero">
    <div class="hero__container container">
      <div class="hero__content">
        <h1 class="hero__title">Arte digital convertido en realidad</h1>
        <span class="hero__tag">Impresión 3D · Figuras · Miniaturas · Grabado Láser</span>

        <p class="hero__text">
          Especialistas en impresión 3D en resina y filamento, pintura de
          miniaturas y grabado láser.
        </p>

        <div class="hero__actions">
          <a href="#projects" class="button button-primary">Ver proyectos</a>
        </div>

        <!-- <ul class="hero__metrics">
          <li><strong>+300</strong><span>proyectos</span></li>
          <li><strong>48h</strong><span>respuesta</span></li>
          <li><strong>100%</strong><span>personalizado</span></li>
        </ul> -->
      </div>
      <div id="card-hero"></div> <!-- Top projects -->
    </div>
  </section>
</main>
