<header class="header">
    <section class="container-navbar">
        <nav class="navbar container">
            <a href="index.html" class="navbar__logo">
                <img
                    class="themed-image"
                    src="src/assets/images/header/dg-logo_navbar-light.svg"
                    data-src-light="src/assets/images/header/dg-logo_navbar-light.svg"
                    data-src-dark="src/assets/images/header/dg-logo_navbar-dark.svg"
                    alt="logo Dimension Girasol">
            </a>
            <div class="navbar__nav">
                <ul class="nav__list">
                    <li class="nav__link" data-nav-target="hero"><a href="index.html" data-i18n="nav.home">Inicio</a></li>
                    <li class="nav__link nav__link--dropdown" data-nav-target="projects laser">
                        <button type="button" class="nav__dropdown-trigger" aria-expanded="false" aria-haspopup="true">
                            <span data-i18n="nav.projects">Proyectos</span>
                            <span class="nav__dropdown-caret" aria-hidden="true"></span>
                        </button>
                        <ul class="nav__dropdown">
                            <li data-nav-target="projects"><a href="index.html#projects" data-i18n="nav.projects3d">Impresión 3D</a></li>
                            <li data-nav-target="laser"><a href="index.html#laser" data-i18n="nav.laser">Láser</a></li>
                        </ul>
                    </li>
                    <li class="nav__link" data-nav-target="about"><a href="index.html#about" data-i18n="nav.about">Conocenos</a></li>
                    <li class="nav__link" data-nav-target="merch"><a href="index.html#merch" data-i18n="nav.merch">Merch</a></li>
                </ul>
                <a href="contact.html" class="button button-primary navbar__cta" data-i18n="nav.contact">Contacto</a>
                <button class="theme-toggle" type="button" aria-pressed="false">
                    <span class="theme-toggle__bulb" aria-hidden="true">
                        <i class="fa-regular fa-lightbulb theme-toggle__icon"></i>
                    </span>
                </button>
                <button
                    class="language-toggle"
                    type="button"
                    aria-label="Cambiar idioma"
                    data-i18n-attr="aria-label:language.toggle">
                    <span class="language-toggle__label" data-i18n="language.current">ES</span>
                </button>
                <button
                    class="navbar__toggle-btn"
                    type="button"
                    aria-controls="mobile-menu"
                    data-open-icon-light="src/assets/images/header/menu-icon-light.svg"
                    data-open-icon-dark="src/assets/images/header/menu-icon-dark.svg"
                    data-close-icon-light="src/assets/images/header/close_menu-icon-light.svg"
                    data-close-icon-dark="src/assets/images/header/close_menu-icon_dark.svg">
                    <img class="navbar__toggle-icon" src="src/assets/images/header/menu-icon-light.svg" alt="Boton menu de navegacion">
                </button>
                <div class="navbar__mobile-menu" id="mobile-menu">
                    <ul class="nav__list-mobile">
                        <li class="nav__link-mobile" data-nav-target="hero"><a href="index.html" data-i18n="nav.home">Inicio</a></li>
                        <li class="nav__link-mobile" data-nav-target="projects"><a href="index.html#projects" data-i18n="nav.projects3d">Impresión 3D</a></li>
                        <li class="nav__link-mobile" data-nav-target="laser"><a href="index.html#laser" data-i18n="nav.laser">Láser</a></li>
                        <li class="nav__link-mobile" data-nav-target="about"><a href="index.html#about" data-i18n="nav.about">Conocenos</a></li>
                        <li class="nav__link-mobile" data-nav-target="merch"><a href="index.html#merch" data-i18n="nav.merch">Merch</a></li>
                <!--    <li class="nav__link-mobile"><a href="contact.html" data-i18n="nav.contact">Contacto</a></li>   -->
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
