<header class="header">
    <!-- <section class="header__info">
        <p>¡Descubre el arte digital llevado a la realidad! Impresión 3D en resina y filamento. Grabado y corte láser.</p>
    </section> -->
    <section class="container-navbar">
        <nav class="navbar container">
            <a href="index.html" class="navbar__logo">
                <img
                    class="themed-image"
                    src="/src/assets/images/header/dg-logo_navbar-light.svg"
                    data-src-light="/src/assets/images/header/dg-logo_navbar-light.svg"
                    data-src-dark="/src/assets/images/header/dg-logo_navbar-dark.svg"
                    alt="logo Dimension Girasol">
            </a>
            <div class="navbar__nav">
                <ul class="nav__list">
                    <li class="nav__link">
                        <a href="index.html">Inicio</a>
                    </li>
                    <li class="nav__link">
                        <a href="#projects">Proyectos</a>
                    </li>
                    <li class="nav__link">
                        <a href="index.html">Conócenos</a>
                    </li>
                </ul>
                <a href="#" class="button button-primary">Contacto</a>
                <button
                    class="theme-toggle"
                    type="button"
                    aria-pressed="false">
                    <span class="theme-toggle__bulb" aria-hidden="true">
                        <i class="fa-regular fa-lightbulb theme-toggle__icon"></i>
                    </span>
                </button>
                <!-- Menu button: responsive and show X icon effect -->
                <button
                    class="navbar__toggle-btn"
                    type="button"
                    aria-controls="mobile-menu"
                    data-open-icon-light="/src/assets/images/header/menu-icon-light.svg"
                    data-open-icon-dark="/src/assets/images/header/menu-icon-dark.svg"
                    data-close-icon-light="/src/assets/images/header/close_menu-icon-light.svg"
                    data-close-icon-dark="/src/assets/images/header/close_menu-icon_dark.svg">
                    <img class="navbar__toggle-icon" src="/src/assets/images/header/menu-icon-light.svg" alt="Botón menú de navegación">
                </button>
                <div class="navbar__mobile-menu" id="mobile-menu">
                    <ul class="nav__list-mobile">
                        <li class="nav__link-mobile">
                            <a href="/index.html">Inicio</a>
                        </li>
                        <li class="nav__link-mobile">
                            <a href="/projects.html">Proyectos</a>
                        </li>
                        <li class="nav__link-mobile">
                            <a href="index.html">Conócenos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
