<header class="header">
    <!-- <section class="header__info">
        <p>¡Descubre el arte digital llevado a la realidad! Impresión 3D en resina y filamento. Grabado y corte láser.</p>
    </section> -->
    <section class="container-navbar">
        <nav class="navbar container">
            <a href="index.html" class="navbar__logo">
                <img src="/src/assets/images/header/dg-logotipo.png" alt="logo Dimension Girasol">
            </a>
            <div class="navbar__nav">
                <ul class="nav__list">
                    <li class="nav__link">
                        <a href="index.html">Inicio</a>
                    </li>
                    <li class="nav__link">
                        <a href="index.html">Proyectos</a>
                    </li>
                    <li class="nav__link">
                        <a href="index.html">Conócenos</a>
                    </li>
                </ul>
                <a href="#" class="button button-primary button-contacto">Contacto</a>
                <!-- Menu button: responsive and show X icon effect -->
                <button
                    class="navbar__toggle-btn"
                    type="button"
                    aria-controls="mobile-menu"
                    data-open-icon="/src/assets/images/header/menu-icon.png"
                    data-close-icon="/src/assets/images/header/close_menu-icon.png">
                    <img class="navbar__toggle-icon" src="/src/assets/images/menu-icon.png" alt="Botón menú de navegación">
                </button>
                <div class="navbar__mobile-menu" id="mobile-menu">
                    <ul class="nav__list-mobile">
                        <li class="nav__link-mobile">
                            <a href="/index.html">Inicio</a>
                        </li>
                        <li class="nav__link-mobile">
                            <a href="/projects.html">Proyectos</a>
                        </li>
                        <li class="nav__link-mobile">
                            <a href="index.html">Conócenos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
