<main class="main">
  <section class="hero">
    <div class="hero__container container">
      <div class="hero__content">
        <h1 class="hero__title">Arte digital convertido en realidad</h1>
        <span class="hero__tag"
          >Impresión 3D · Figuras · Miniaturas · Grabado Láser</span
        >

        <p class="hero__text">
          Especialistas en impresión 3D en resina y filamento, pintura de
          miniaturas y grabado láser.
        </p>
        <a href="#" class="button button-primary">Ver proyectos</a>
      </div>

      <div class="hero__image">
        <img
          src="/src/assets/images/dg-log_hero2.png"
          alt="Logotipo dimension girasol"
        />
      </div>
    </div>
  </section>
</main>
