<section class="how section-space" id="how" aria-labelledby="how-title">
  <div class="how__container container">
    <ul class="infoGraphic">
      <li>
        <div class="numberWrap">
          <div class="number fontColor1">1</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconIdea"></div>
          <h2>Tu idea</h2>
          <p>
            Ponte en contacto con nosotros y cuéntanos tu idea junto las
            referencias, tamaño y acabado deseado.
          </p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number fontColor2">2</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconMoney"></div>
          <h2>Propuesta y presupuesto</h2>
          <p>Materiales, tiempos y precio claros antes de empezar.</p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number fontColor3">3</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconPrepare"></div>
          <h2>Preparación y producción</h2>
          <p>
            Laminamos los archivos y los pasamos a la impresión 3D o láser con
            control de calidad en cada fase.
          </p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number fontColor4">4</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconPaint"></div>
          <h2>Postprocesado y pintura</h2>
          <p>Tratamiento de la pieza y posible pintura a mano + barnizado.</p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number fontColor5">5</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconSend"></div>
          <h2>Envío</h2>
          <p>
            Fotos finales y coordinación de entrega o envío en un cuidadoso
            embalaje.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
